<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gageshan.mchat.mapper.ChatMsgMapper" >
    <insert id="insert">
        insert into chat_msg(id, send_user_id, accept_user_id, msg, sign_flag, create_time)
        values(#{id},#{sendUserId},#{acceptUserId},#{msg},#{signFlag},#{createTime})
    </insert>
    <select id="selectMsgByUserId" resultType="com.gageshan.mchat.model.ChatMsg">
        select *
        from chat_msg
        where signFlag = #{flag} and accept_user_id = #{acceptUserId}
    </select>
</mapper>