<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gageshan.mchat.mapper.MyFriendsMapper" >
    <select id="selectFriendsByUserIdAndFriendId" resultType="com.gageshan.mchat.model.MyFriends">
        select * from my_friends
        where my_user_id = #{myUserId} and my_friends_user_id = #{friendId}
    </select>
    <insert id="insert">
        insert into my_friends(id, my_user_id, my_friends_user_id)
        values (#{id},#{myUserId},#{myFriendUserId})
    </insert>
</mapper>