<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gageshan.mchat.mapper.UsersMapper" >
    <select id="selectUserByUserName" resultType="com.gageshan.mchat.model.User">
        select * from users
        where username = #{username}
    </select>
    <select id="selectUserByUsernameAndPassword" resultType="com.gageshan.mchat.model.User">
        select * from users
        where username = #{username} and
                password = #{password}
    </select>
    <insert id="insert" >
        insert into users(id, username, password, face_image, face_image_big, nickname, qrcode)
        values(#{id},#{username},#{password},#{faceImage},#{faceImageBig},#{nickname},#{qrcode})
    </insert>

    <select id="selectUserByUserId" resultType="com.gageshan.mchat.model.User">
        select * from users
        where id = #{userId}
    </select>

    <update id="updateUserInfo">
        update users set
        <if test="nickname != null">
            nickname = #{nickname},
        </if>
        <if test="username != null">
            username = #{username},
        </if>
        <if test="password != null">
            password = #{password},
        </if>
        <if test="faceImage != null">
            faceImage = #{faceImage},
        </if>
        <if test="faceImageBig != null">
            faceImageBig = #{faceImageBig},
        </if>
        <if test="qrcode != null">
            qrcode = #{qrcode},
        </if>
        <if test="cid != null">
            cid = #{cid},
        </if>
        id = #{id}
        where id = #{id}
    </update>
</mapper>